<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="index.css" type="text/css" rel="stylesheet">
    <title>Encryption Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Result</h1>
    <p th:text="'Encrypted Text: ' + ${encryption.text}" />
    <p th:text="'Encryption Key: ' + ${encryption.key}" />
    <a href="/encryption">Submit another message</a>
</body>
<footer>
    <p><a href="/">Home Page</a></p>
</footer>
</html>